flask
pandas
mysqlclient
sqlalchemy
seaborn
plotly
matplotlib
pymysql
numpy
scikit-learn==1.7.1
joblib
python-dotenv
requests
mysql-connector-python
pdfplumber
pillow
google-generativeai
gunicorn
flask-cors